.header {
    font-size: 32px !important; 
}
#Front-page-photo {
    width: 1920px;
    height: 550px;
}
body {
    overflow-x: hidden;
    background-color: #2F2F2F !important;
}
main {
    font-size: 23.5px;
    color: #FFF8DC;
}
.a {
    color: white !important;
    font-size: 19px !important;
}