.header {
    font-size: 32px !important; 
}
.a {
    color: white !important;
    font-size: 19px !important;
}
.Ruuat {
    display: flex;
    justify-content: center;
    /*color: #FFF8DC;*/
    /*color: white;*/
}
.Kuva-ruuat {
    font-size: 34px;
}
body {
    overflow-x: hidden;
    background-image: url("../kuvia/log-cabin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh; /* Varmistaa koko näkymän peiton */
    position: relative; /* Tarvitaan overlaylle */
}

.overlay {
    position: fixed; /* Kiinnitetään koko ikkunan kokoon */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Musta, 50 % läpinäkyvä */
    z-index: 1; /* Tekee siitä taustan */
}

.content {
    position: relative; /* Pitää sisällön overlayn päällä */
    z-index: 2;
    color: white; /* Tekstin väri */
    text-align: center;
}
.text-box {
    background-color: rgba(50, 50, 50, 0.6); /* Tumma harmaa, 60% läpinäkyvä */
    border-radius: 10px;
}
